html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerCont {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #343a40; 
  color: white; 
}

.header-link {
  background-color: #cebaba; 
  padding: 10px; 
  color: #fff; 
  text-decoration: none; 
  display: inline-block; 
  margin: 5px; 
}

.header-link:hover {
  background-color: #666; 
}

.logo {
  max-width: 100px; 
  height: auto;
}

.navbar {
  display: flex;
  align-items: left;
}

/* Add or modify the following styles in your CSS */

.full-height-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  font-size: 6rem;
  color: #333;
  margin-bottom: 10px;
}

.pageDescription {
  font-size: 4rem;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
}

.crudButton {
  background-color: #007bff;
  color: #fff;
  padding: 15px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.crudButton:hover {
  background-color: #0056b3;
}


.footer {
  background-color: #333; 
  color: #fff; 
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.home {
  position: relative;
  height: 77vh; 
}

.mainPageItemsContainer {
  margin-top: 60px;
  display: flex;
  flex: 1;
  justify-content: space-around; 
}

.category-column {
  flex: 1;
  margin: 0 10px; 
  max-width: 500px; 
  border: 1px solid #ccc;
  border-radius: 20px; 
  padding: 10px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text within the column */
}

