body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header.css */

/* Header.css */

/* Header.css */

.headerCont {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px;
  background-color: #343a40; /* Set your desired background color */
  color: white; /* Set your desired text color */
}

.logo {
  max-width: 100px; /* Adjust the max-width based on your logo size preference */
  height: auto;
}

.navbar {
  display: flex;
  align-items: left;
}

/* ... (other styles) */
 

/* ... (other styles) */


.footer {
  background-color: #333; /* Customize background color */
  color: #fff; /* Customize text color */
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.home {
  position: relative;
  height: 77vh; /* Adjust the height as needed */
}

.mainPageItemsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px; /* Adjust as needed */
}

/* Your existing styles */

.mainPageItemsContainer {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
}

.category-column {
  flex: 1;
  margin: 0 10px; /* Adjust as needed for spacing */
  max-width: 500px; /* Adjust as needed for column width */
  border: 1px solid #ccc;
  border-radius: 20px; /* Border to delineate columns */
  padding: 10px; /* Add padding to create space around the column content */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text within the column */
}

